* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'newsreader';
}

header {
    background-color: #7F4F20;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    width: 100%;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

nav span {
    margin-left: 20px;
    margin-right: 20px;
}

#logo {
    height: 80px;
    margin-right: 20px;
}

#logo_and_title {
    display: flex;
    align-items: center;
}

main {
    height: 100vh;
    background-image: url("./images/restaurant.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
}

main h1 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    margin-top: 300px;
    margin-left: 150px;
}

section{
    padding: 50px 12%;
}

section h1{
    text-align: center;
    font-size: 40px;
    color: #7F4F20;
    margin-top: 0px;
}

.greybg{
    background-color: #e8e8e8;
}

#lacarte{
    text-align: center;
}

#lacarte h3{
    margin-top: 50px;
    margin-bottom: 30px;;
}

#chef_and_text{
    display: flex;
    align-items: center;
}

#chef_and_text img {
    height: 400px;
    width: 400px;
    border-radius: 10%;
    margin-right: 30px;
}

.ligne{
    width: 200px;
    height: 0px;
    border-top: 1px solid grey;
    margin: 0px auto;
}

.ligne2{
    width: 200px;
    height: 0px;
    border-top: 3px solid #7F4F20;
    margin-bottom: 40px;
}

.bold{
    font-weight: bold;
}


.ligne3{
    width: 200px;
    height: 0px;
    border-top: 3px solid #7F4F20;
}

#imageplat{
    background-image: url("./images/iskender.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

#infoscontainers {
    display: flex;
}

#infoscontainers h2 {
    color: #7F4F20;
}

#infoscontainers > div {
    flex: 1;
}

form label {
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

form input[type="text"],form input[type="email"],form textarea{
    width: 100%;
    border: 0px;
    font-size: 20px;
    padding: 15px;
}

form input[type="button"]{
    border: 0px;
    font-size: 20px;
    padding: 15px 30px;
    margin: 20px auto;
    display: block;
    background-color: #7F4F20;
    color: white;
}

footer{
    color: white;
    background-color: #7F4F20;
    padding: 60px;
}

footer p{
    text-align: center;
}

.anchor{
    content: "";
    display: block;
    height: 170px;
    margin: -170px 0 0;
}

nav a {
    color: white;
    text-decoration: none;
}